@media (min-width: 576px) {
  body {
    width: 540px;
  }

  .banner h1 {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    margin-left: 0;
  }
}

/***************************/

@media (min-width: 768px) {
  body {
    width: 720px;
  }

  .nav-main {
    width: 150px;
    height: 17px;
  }

  .nav-main__link {
    width: 80px;
    font-size: 1.6rem;
    text-transform: capitalize;
  }

  .nav-main__link:first-child {
    width: 70px;
  }

  .banner {
    height: 131px;
    margin-top: 29px;
    justify-content: center;
    background: linear-gradient(rgba(126, 90, 90, 0.3), rgba(0, 0, 0, 0.3)),
      url(../assets/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }

  .banner h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-left: 0;
  }
}

/***************************/

@media (min-width: 992px) {
  body {
    width: 960px;
  }

  header {
    height: 56px;
    margin-top: 25px;
  }

  .header__img {
    width: 171px;
  }

  .nav-main {
    width: 170px;
    height: 20px;
  }

  .nav-main__link {
    width: 90px;
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  .nav-main__link:first-child {
    width: 80px;
  }

  .banner {
    margin-top: 34px;
    border-radius: 12px;
  }

  .banner h1 {
    font-size: 3.4rem;
  }
}

/***************************/

@media (min-width: 1200px) {
  body {
    width: 1140px;
  }

  .container {
    width: 1140px;
  }

  header {
    height: 62px;
    margin-top: 36px;
  }

  .header__img {
    width: 191px;
  }

  .nav-main {
    width: 281px;
    height: 31px;
  }

  .nav-main__link {
    width: 106px;
    font-size: 2.2rem;
    text-transform: capitalize;
  }

  .nav-main__link:first-child {
    width: 124px;
  }

  .banner {
    height: 203px;
    margin-top: 54px;
    background: linear-gradient(rgba(126, 90, 90, 0.3), rgba(0, 0, 0, 0.3)),
      url(../assets/img.jpg);
    border-radius: 23px;
  }

  .banner h1 {
    font-size: 4.4rem;
  }
}

/***************************/

@media (min-width: 1400px) {
  body {
    width: 1240px;
  }

  header {
    margin-top: 40px;
  }

  .banner {
    height: 223px;
    margin-top: 63px;
    border-radius: 25px;
  }

  .banner h1 {
    font-size: 4.8rem;
  }
}
