.nav-main {
  display: flex;
  justify-content: flex-end;
  width: 140px;
  height: 17px;
}

.nav-main__link {
  display: flex;
  justify-content: flex-end;
  width: 71px;
  font-size: 1.2rem;
  line-height: 142.6%;
  color: #ff6060;
  text-transform: uppercase;
}

.nav-main__link:first-child {
  width: 59px;
  justify-content: flex-start;
}
