.carrousel {
  position: relative;
  width: clamp(335px, 50vw, 100%);
  height: clamp(255px, 50vw, 415px);
  margin-top: 27px;
  border-radius: 10px;
}

.carrousel figure {
  width: 100%;
  height: 100%;
}

.carrousel figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: clamp(13px, 50vw, 48px);
  height: clamp(20px, 50vw, 80px);
  background-color: transparent;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.nav:focus {
  outline: 1px solid black;
}

.nav--left {
  background-image: url(../../assets/chevron.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  margin-left: clamp(6px, 1vw, 23px);
}

.nav--right {
  background-image: url(../../assets/chevron.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: clamp(6px, 1vw, 23px);
}

.carrousel span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: clamp(5px, 1vw, 25px);
  font-weight: 500;
  font-size: clamp(1.4rem, 10vw, 1.8rem);
  line-height: 142.6%;
  color: white;
}
